In [1]:
import pandas as pd
from label_pool import LabelPool
from label_mapping import LabelMapping

In [2]:
uni = LabelPool.load('label_hubs/uni.csv')
datasets = ['coco', 'object365', 'openimages', 'oid600']
lms = {}
for dname in datasets:
    lms[dname] = LabelMapping.load(f'label_hubs/{dname}.csv')
for d in lms.values():
    uni.add_label_mapping(d)
uni.to_csv('complete_uni.csv')

In [2]:
cuni = LabelPool.load('complete_uni.csv')

In [ ]:
cuni

In [3]:
v3 = pd.read_csv('label_hubs/v3.csv')
uni = v3[['uni.label', 'uni.name']]
uni = uni.dropna().drop_duplicates()
uni = uni.rename(columns={'uni.label':'label', 'uni.name':'name'})
uni = uni.sort_values(by='label')
uni.to_csv('label_hubs/uni.csv', index=False)

In [46]:
uni

     label             name
0        0        accordion
1        1    adhesive tape
2        2  air conditioner
3        3         airplane
4        4      alarm clock
..     ...              ...
781    773           isopod
782    774         scorpion
783    775          grinder
784    776        submarine
785    777       hand dryer

[778 rows x 2 columns]

In [32]:
# convert lp of each datasets
v3 = pd.read_csv('label_hubs/v3.csv')
datasets = ['coco', 'object365', 'openimages', 'oid600']
for dname in datasets:
    lname, nname = f'{dname}.label', f'{dname}.name'
    sel_df = v3[[lname, nname]].dropna().drop_duplicates()
    sel_df = v3.iloc[sel_df.index][[lname, nname, 'uni.label']]
    sel_df = sel_df.rename(columns={lname: 'label', nname:'name', 'uni.label':'uni'})
    sel_df = sel_df.sort_values(by=['label'])
    sel_df.to_csv(f'label_hubs/{dname}.csv', index=False, float_format='%.f')

In [10]:
class BCMixin(object):
    def get_subclass_ss(self):
        return self.__class__.ss
    def get_a(self):
        return self.a
    
class SS(BCMixin):
    ss = [1,2,3]
    def __init__(self, a):
        self.a = a
        
class SS2(SS):
    def __init__(self, a,b):
        super(SS2, self).__init__(a)
        self.b = b

In [11]:
ss = SS2(1,2)
print(ss.get_subclass_ss())
print(ss.get_a())
ss.__class__.__name__
SS.__dict__.keys()

[1, 2, 3]
1

dict_keys(['__module__', 'ss', '__init__', '__doc__'])

In [13]:
a = {'width': [1,2,3], 'depth': [10, 20, 30]}
print(list(zip(*a.values())))

[(1, 10), (2, 20), (3, 30)]

In [29]:
setattr(ss, 'z', 999)
ss.z

999